@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brewing Temperature Control</h1>
    <p class="lead">
        Equipamento fundamental para fabricação de cerveja caseira.
        Auxilia no controle da fermentação e maturação deixando sua geladeira ou freezer com a temperatura sempre no recomendado pelas receitas.
    </p>
</div>

<div class="row">
    <img src="~/Imagens/ceva.jpg" class="img-responsive" alt="Responsive image">
</div>